li.dropdown.dropdown-help.dropdown-mobile {
    display: none;
}


/* .page-actions .sub-heading {
    max-width: 50%;
    overflow: hidden;
    font-size: xx-small;
} */

.form-inner-toolbar {
    padding: 5px 15px 0px;
}

.inner-page-message {
    font-weight: bold;
    padding-right: 15px;
    color: rgb(82, 146, 247) !important;
}

.form-inner-toolbar .btn
{
    margin-bottom: 5px;
}

/* 
[data-fieldname='indicador_costo'] > .value { 
    color:green; 
    background-color:green;
    width: 80px;
}  */

[data-fieldname$='indicador_ok'] > .form-group > .control-input-wrapper { 
    color: rgb(13, 172, 13) !important; 
    font-weight: bold;
}

[data-fieldname$='indicador_warning'] > .form-group > .control-input-wrapper { 
    color: rgb(255, 208, 0) !important; 
    font-weight: bold;
}

[data-fieldname$='indicador_error'] > .form-group > .control-input-wrapper { 
    color: rgb(202, 9, 9) !important; 
    font-weight: bold;
}